data/
# data/images/*
# data/images_original/*
# data/masks_original/*
# data/masks/*
plots/
__pycache__/
lightning_logs/
logs/
mlruns/
checkpoints/
*.egg-info/

.env

temp*

notebooks/nb_01.ipynb
notebooks/nb_02.ipynb
old_readme.txt